#basictext {
text-align: left;
padding-left: 15px;
font-size: 15px;
letter-spacing: 2px;
word-spacing: 2px;
color: #DCDCDC;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}
